body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:purple;
  color: aqua;
}

header {
  background-color: burlywood;
  color: pink;
  text-align: center;
  padding: 40px 0;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

footer {
  background-color: goldenrod;
  color: white;
  text-align: center;
  padding: 10px;
}

a {
  color: blue;
  text-decoration:hotpink;
}
